*.o *.lo *.la *.al *.so.[0-9]* *.pyc *.pyo *.rej *~ #*# .#* .*.swp ~$*.* *.tmp .DS_Store bootrom bootrom.Z.s depend.* .depend.* local.mk *.pch *.obj *.pdb *.ilk *.exp *.clw *.ncb *.aps *.opt *.plg *.bsc *.sbr *.idb *.res *.bak stackdump cwData.cfg ctdt.c symTbl.c linkSyms.c prjComps.h prjParams.h prjConfig.c prjObjs.lst *.aps *.depend *.d *.stackdump *.OBJ *.PCH *.ILK *.EXP *.CLW *.NCB *.APS *.OPT *.PLG *.BSC *.SBR *.IDB *.RES *.BAK Thumbs.db compObjs.lst prj*.lst romfs_image_prj.s Objects *.vcproj.* *.vcxproj.user *.suo *.sdf *.SUO *.SDF bootapp.* build_vars_list ipcom_ipdomain Debug Release default NoDebug *.user *.crf *.TMP *.ko *.html .git